body {
  font-size: 14px;
}
.page-container {
  display: flex;
}

/* ASIDE */
.aside-line {
  flex: 0.03;
  background-image: linear-gradient(blue, red, orange, yellow);
}
.page-container aside {
  flex: 1;
  background-color: #232222;
}
.page-container main {
  flex: 2;
  background-color: #e7ded7;
}

aside h4 {
  color: #e7ded7;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
aside .sub-head {
  display: block;
  color: #e7ded7;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 100;
  font-stretch: extra-condensed;
  text-align: center;
  margin: 0 auto;
}
aside .slogan {
  display: block;
  margin: 100px auto;
  width: 70%;
  color: #e7ded7;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 900;
}
.circleBandPics {
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.band-pic {
  flex: 1;
}
.band-pic img {
  height: 50px;
  border-radius: 50%;
}
.circleBandPics span {
  font-size: 11px;
  margin-left: 10px;
  color: #e7ded7;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-top: 5px;
}
.searchBox {
  align-content: center;
  text-align: center;
  margin-top: 15px;
}
.description-end {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 11px;
  text-align: start;
  margin: 0 auto;
  margin-top: 75px;
  color: #e7ded7;
  width: 48%;
}

/* MAIN CONTENT*/

.navbar {
  width: fit-content;
  margin: 0 auto;
  margin-top: 25px;
}
.navbar li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}
.navbar li a {
  color: #232222;
  text-decoration: none;
  padding: 20px;
}
.triangle-bottomleft {
  position: sticky;
  width: 0px;
  height: 130px;
  border-bottom: 100px solid #232222;
  border-right: 100px solid transparent;
}



/* BROWSE PAGE */
.browse-page{
  width:90%;
  margin:0 auto;
  margin-top:25px;
  height:580px;
}
.heading-see-more{
  display:flex;
  justify-content: space-between;
}
h3{
  display:inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color:#232222;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left:5px;
}
.heading-see-more a, .browse-page .more-ganres{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #232222;
  text-decoration: none;
  background-color: #ff8000d6;
  padding: 5px 10px;
  border-radius: 30px;
  margin-right:5px;
}
.artist-list{
  display:flex;
  margin:0 auto;
  margin-bottom:40px;
}
.artist{
  flex:1;
  border:0.1px solid #868584;
  border-radius: 5px;
  margin:10px 5px 0px;
  overflow: hidden;
}
.artistPic img{
  width:100%;
}
.artistName{
  height:fit-content;
  font-family: "Montserrat", sans-serif;
  color: #232222;
  font-weight: 700;
  text-align: center;
}
.artistName:hover{
  color:#ff8000d6;
  cursor:pointer;
}

.more-ganres{
  float:right;
}

